<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>FuzzCrypter</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
<!-- partial:index.partial.html -->
<script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="body">
    <h1 id="head1">WELCOME TO THE WORLD OF ENCRYPTION</h1>
        <div class="veen">
            <div class="login-btn splits">
                <p>Want to Encrypt?</p>
                <button class="active">Encrypt</button>
            </div>
            <div class="rgstr-btn splits">
                <p>Want to Decrypt?</p>
                <button>Decrypt</button>
            </div>
            <div class="wrapper">
                <form id="login" tabindex="500">
                    <h2 class="h3text">Encrypt</h3>
                    
                    <div class="passwd">
                        
                        <label for="passwd1">Enter The Text</label>
                            <input type="text" name="passwd1" class="passwd1">
                        
                    </div>
                    <div class="submit">
                        <button class="dark">Encrypt</button>
                    </div>
                </form>
                <form id="register" tabindex="502">
                    <h2 class="h3text">Decrypt</h3>
                    
                    <div class="passwd">
                        
                        <label for="passwd1">Key</label>
                            <input type="text" name="passwd1" class="passwd1">
                        
                    </div>
                    <div class="submit"><form method="get">
                        <button class="dark" type="submit">Decrypt</button></form>
                    </div>
                </form>
            </div>
        </div>	
    </div>


    <!-- <style type="text/css">
        .site-link{
      padding: 5px 15px;
            position: fixed;
            z-index: 99999;
            background: #fff;
            box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
            right: 30px;
            bottom: 30px;
            border-radius: 10px;
        }
        .site-link img{
            width: 30px;
            height: 30px;
        }
    </style> -->
<!-- partial -->
  <script type="text/javascript"  src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>